/* You can add global styles to this file, and also import other style files */
@import './normalize.scss';

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.form-group {
  margin-bottom: 10px;

  label {
    display: block;
  }

  input {
    border: none;
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid;
  }
}

button {
  background: none;
  border: 1px solid #bbbbbb;
  padding: 4px 12px;
  border-radius: 4px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
