.gallery-post {
  position: relative;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }

  .gallery-post-description {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    span {
      font-size: 20px;
      color: white;
    }
  }
}
