.gallery-post-image-wrap {
  margin-bottom: 10px;
  img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    border-radius: 50%;
  }
}
    button {
      margin-right: 12px;
    }
