<form [formGroup]="updateForm" (submit)="submit($event)">
  <div class="gallery-post-image-wrap">
    <img [src]="data.imageUrl" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" formControlName="description" />
  </div>
  <button>Save</button>
  <button type="button" (click)="deletePost()">Delete</button>
</form>
