<section class="container">
  <h1>Post upload</h1>
  <form [formGroup]="uploadForm" (submit)="submit($event)">
    <div class="form-group">
      <label>Description</label>
      <input type="text" formControlName="description" />
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="file" (change)="onImageSelected($event)" />
    </div>

    <button>Submit</button>
    <a routerLink="/">Dismiss</a>
  </form>
</section>
