.wrapper {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 10px;

  .container {
    input {
      width: 60%;
      border: none;
      border-bottom: 1px solid grey;
      padding-bottom: 2px;
    }
  }
}
