.bar {
  position: fixed;
  background: white;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #d4d4d4;

  button {
    font-size: 20px;
    color: #2f2f2f;
    background: none;
    border: none;
    cursor: pointer;
  }
}
