.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 75px;
}

app-gallery-post {
  width: 50%;
  height: 50vw;
  max-height: 400px;
}

.no-posts {
  text-align: center;
  margin: 50px;
  font-size: 26px;
  font-weight: bold;
}
