<section>
  <app-gallery-search-bar (onSearch)="fetchPosts($event)"></app-gallery-search-bar>
  <div class="container" *ngIf="posts.length;else noPosts">
      <app-gallery-post  *ngFor="let post of posts" [post]="post" (postsUpdated)="fetchPosts()"></app-gallery-post>
  </div>
  <ng-template #noPosts>
    <div class="no-posts">
      No posts found
    </div>
  </ng-template>
  <app-gallery-actions-bar (postsCreated)="fetchPosts()"></app-gallery-actions-bar>
</section>
